- name: SCP Command to Transfer Files
  uses: appleboy/scp-action@v1.0.name: scp files
  on: [push]
  jobs:
    build:
      runs-on: ubuntu-latest
      steps:
        - uses: actions/checkout@v4
        - name: Copy files via SSH
          uses: appleboy/scp-action@v1
          with:
            host: ${{ secrets.HOST }}
            username: ${{ secrets.USERNAME }}
            password: ${{ secrets.PASSWORD }}
            privateKey: ${{ secrets.PRIVATE_KEY }}
            source: _site
            target: /itss/home/openhard/public_html
